{{link-to 'Back' 'tables'}}
	<div {{bind-attr class="model.tableFull"}} >
	<h2>Table {{model.id}} </h2>
	{{input type='checkbox' checked=model.tableFull class='toggle'}}
		
			<img src = 'table.bmp'>
	</div>
		<h2>Orders:</h2>
		<p>Pepperoni pizza</p>

tableFull